 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid black;
  font-family: Copperplate;
  background-color: radial-gradient(gray, black);
  background: url('https://i.postimg.cc/BZFHywny/AC3-AC6-CC-6049-40-F0-915-C-3-CC147-ECA17-C.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-position-y: 100px;
  background-repeat: no-repeat;
}



.gameboard-container {
  display: none;

}


