/* CSS Flexbox */

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Copperplate;
  text-align: center;
}

#wrap {
  position: relative;
  
}

.flag {
  width: 2800px;
  height:2000px;
  position: absolute;
  top: 0;
  margin: -20px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: space-around; */
  text-align: center;
  /* align-items: center; */
  
}


.email-rule-btns {
  text-align: center;
}

.email-list {
  position: absolute;
  top:8%;
  left:6%;
  width: 30%;
}

.rules { 
  position: absolute;
  top:8%;
  right:5%;
  width: 30%;
  
}

.dropbtn {
  font-size: 35px;
  background: transparent;
  border: transparent;
  text-shadow: 3px 2px 4px rgba(179, 2, 2, 0.8);
}

#myDropdown {
  flex-direction: row;
}

#joinBtn {
  justify-items: center;
}

#joinBtn:hover {
  color: rgb(162, 6, 6);
}

.dropbtn:hover {
  color: rgb(162, 6, 6);
}

.welcome-page {
  text-align: center;
  margin-top: 5%;
}
.welcome-img {
  margin-left: 1%;
  width: 70%;
}

.welcome-page button {
  font-size: 40px;
  background: transparent;
  border: transparent;
  text-shadow: 3px 2px 4px rgba(179, 2, 2, 0.8);
}

.welcome-page button:hover {
  color: rgb(162, 6, 6);
}

.flag-element {
  -webkit-animation:oscill 1s ease-in-out infinite alternate; 
  -moz-animation:oscill 1s ease-in-out infinite alternate; 
  -ms-animation:oscill 1s ease-in-out infinite alternate; 
  animation:oscill 1s ease-in-out infinite alternate; 
  background: url('https://i.postimg.cc/5y0yzZw9/CA7-C5-ED5-01-BB-4-BFF-85-CF-4-BDE673-DB9-AD-1-105-c.jpg');
  background-size: 4000px 100%;
  background-repeat: no-repeat no-repeat;
  position:relative;
  height: 120%;
  width:1px;
  display: inline-block;
  /* box-shadow:0 0.2px rgb(0, 0, 0), 0 -0.2px rgb(0, 0, 0); */
  z-index: -3;
}


/* @-webkit-keyframes oscill {
  0% {
      top: 1%;
  }        
  100% {
      top: -1%;
  }
}
@-moz-keyframes oscill {
  0% {
      top: 1%;
  }        
  100% {
      top: -1%;
  }
}
@-ms-keyframes oscill {
  0% {
      top: 1%;
  }        
  100% {
      top: -1%;
  }
}
@keyframes oscill {
  0% {
      top: 1%;
  }        
  100% {
      top: -1%;
  }
}  */

/* #board {
  margin-top: 50px;
} */

@media screen and (max-width:900px) {
  .email-list {
    margin-left: 1rem;
    z-index: 1;
  }

  .rules { 
    margin-left: 9rem;
    margin-right: 2rem;
    z-index: 1;
  }

  button {
    margin-top: auto;
  }

}


@media screen and (max-width:700px) {
  .dropbtn {
    font-size: 20px;
  }

  button {
    font-size: 25px;
  }

  .email-list {
    margin-left: 2rem;
    z-index: 1;
  }
  
  .rules { 
    margin-left: 10rem;
    margin-right: 2rem;
    z-index: 1;
  }
}




 